
  :root {
    --index: calc(1vw + 1vh);
    --transition-smooth: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    --transition-bounce: cubic-bezier(0.34, 1.56, 0.64, 1);
  }
  
 

.img-1  { background-image: url("../img/AI.png")}
.img-2  { background-image: url("../img/css.png"); }
.img-3  { background-image: url("../img/figma.png"); }
.img-4  { background-image: url("../img/git.png"); }
.img-5  { background-image: url("../img/github.png"); }
.img-6  { background-image: url("../img/html.jpg"); }
.img-7  { background-image: url("../img/js.png"); }
.img-8  { background-image: url("../img/php.png"); }
.img-9  { background-image: url("../img/problem-solving.png"); }
.img-10 { background-image: url("../img/wordpress.png"); }


  
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }
  
  .items {
    display: flex;
    gap: 0.4rem;
    perspective: calc(var(--index) * 35);
  }
  
  .item {
    position: relative;
    background-color: #fff;
    width: calc(var(--index) * 3);
    height: calc(var(--index) * 12);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: transform 0.8s var(--transition-smooth),
      filter 0.6s var(--transition-smooth), width 0.8s var(--transition-smooth),
      box-shadow 0.6s var(--transition-smooth);
    will-change: transform;
    filter: grayscale(1) brightness(0.5);
    transform-origin: center;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .item::before,
  .item::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 100%;
    right: calc(var(--index) * -1);
  }
  
  .item::after {
    left: calc(var(--index) * -1);
  }
  
  .items .item:hover {
    transform: translateZ(calc(var(--index) * 10)) scale(1.02);
    filter: grayscale(0) brightness(1);
    box-shadow: 0 calc(var(--index) * 2) calc(var(--index) * 4) rgba(0, 0, 0, 0.5);
  }
  
  /* Right side cascade */
  .items .item:hover + * {
    transform: translateZ(calc(var(--index) * 8.5)) rotateY(35deg);
    filter: grayscale(0) brightness(0.9);
    z-index: -1;
  }
  
  .items .item:hover + * + * {
    transform: translateZ(calc(var(--index) * 5.6)) rotateY(40deg);
    filter: grayscale(0.3) brightness(0.8);
    z-index: -2;
  }
  
  .items .item:hover + * + * + * {
    transform: translateZ(calc(var(--index) * 2.4)) rotateY(30deg);
    filter: grayscale(0.5) brightness(0.7);
    z-index: -3;
  }
  
  .items .item:hover + * + * + * + * {
    transform: translateZ(calc(var(--index) * 0.6)) rotateY(14deg);
    filter: grayscale(0.7) brightness(0.6);
    z-index: -4;
  }
  
  /* Left side cascade */
  .item:has(+ :hover) {
    transform: translateZ(calc(var(--index) * 8.5)) rotateY(-35deg);
    filter: grayscale(0) brightness(0.9);
  }
  
  .item:has(+ * + :hover) {
    transform: translateZ(calc(var(--index) * 5.6)) rotateY(-40deg);
    filter: grayscale(0.3) brightness(0.8);
  }
  
  .item:has(+ * + * + :hover) {
    transform: translateZ(calc(var(--index) * 2.4)) rotateY(-30deg);
    filter: grayscale(0.5) brightness(0.7);
  }
  
  .item:has(+ * + * + * + :hover) {
    transform: translateZ(calc(var(--index) * 0.6)) rotateY(-14deg);
    filter: grayscale(0.7) brightness(0.6);
  }
  
  .items .item:active,
  .items .item:focus {
    width: 28vw;
    transform: translateZ(calc(var(--index) * 10)) scale(1);
    filter: grayscale(0) brightness(1);
    z-index: 100;
    margin: 0 0.45vw;
    outline: none;
    box-shadow: 0 calc(var(--index) * 3) calc(var(--index) * 6) rgba(0, 0, 0, 0.7);
  }
  
  
  
  /* Support me */
  #support {
    position: fixed;
    bottom: 1em;
    right: 1em;
  }
  